*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    width:375px;
    background-color: #E7E7E7; /*VERIFICAR BACKGROUND COLOR CORRETO*/
}
/*Mesma config para header e footer, só que footer fica embaixo*/
header,footer{
    height:80px;
    width:375px;
    position:fixed;
    background-color: #FFFFFF;
    left:0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}
header img{
    height:53px;
}
header ion-icon{
    font-size: 40px;
}
footer ion-icon{
    font-size: 30px;
}
header{
    top:0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}
footer{    
    bottom:0;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}
input{
    border:none;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
input::placeholder{
    opacity:1;
    color: black;    
    font-style: italic;
}
input:focus{
    outline: none;
}

/*Retira todos estilos do botão*/  
.textbox  {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

main{
    width:375px;
    /*CORRIGIR LIMITE VERTICAL DA PÁGINA*/    
    margin: 106px 0 80px;
}

.mbox{    
    background-color: #FFFFFF;
    border-radius: 2px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin: 2px 0;
    padding:12px;
}
.mbox .horamsg{
    color: #AAAAAA;
}

.mbox .pessoa{
    font-weight: bold;
}

.reservado{
    background-color: #FFDEDE;
}
.status{
    background-color: #DCDCDC;
}

@media only screen and (hover: none) and (pointer: coarse), (max-width:375px) { 
    body,header,footer,main{
        width:100%;
        min-width:375px;
    }
}