*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    width:375px;
    background-color: #E7E7E7; /*VERIFICAR BACKGROUND COLOR CORRETO*/
}
/*Mesma config para header e footer, só que footer fica embaixo*/
header,footer{
    height:80px;
    width:375px;
    position:fixed;
    background-color: #FFFFFF;
    left:0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}
header img{
    height:53px;
}
header ion-icon{
    font-size: 40px;
}
footer ion-icon{
    font-size: 30px;
}
header{
    top:0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    z-index: 3;
}
footer{    
    bottom:0;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}
#texto{
    border:none;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
#texto::placeholder{
    opacity:1;
    color: black;    
    font-style: italic;
}
input:focus{
    outline: none;
}
.paraDestinatario{
    position:absolute;
    bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #505050;
    display:flex;
}

/*Retira todos estilos do botão*/  
.nostyle  {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
/*Conteúdo principal*/ 
main{
    width:375px;
    /*CORRIGIR LIMITE VERTICAL DA PÁGINA*/    
    margin: 106px 0 80px;
}

.mbox{    
    background-color: #FFFFFF;
    border-radius: 2px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin: 2px 0;
    padding:12px;
}
.mbox .horamsg{
    color: #AAAAAA;
}

.mbox .pessoa{
    font-weight: bold;
}

.reservado{
    background-color: #FFDEDE;
}
.status{
    background-color: #DCDCDC;
}
/*Tabela paricipantes*/
.fundo{
    position:fixed;
    top:0;
    right:0;
    width:100vw;
    height:100vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 5;
}
/**A classe escondido possui também visibility pois não altera a propriedade display já existente, 
    o que poderia causar conflito.*/ 
.escondido{
    display:none;
    visibility: hidden;
}
.participantes{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    width:259px;
    background-color: #FFFFFF;
    z-index:6;
    overflow-y:scroll;
    overflow-x:hidden;
    /**Overflow para scrollar caso haja participantes demais, caso contrário, estica para top 0 e bottom 0*/
}
.contatos div,.visibilidade div{  
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.contatos div{
    height:84px;
}
.visibilidade div{
    height:66px;
}

ion-icon[name="checkmark"]{
    font-size: 20px;
    color:#28BB25;
    position: absolute;
    top:5px;
    right:20px;
    display:none;

}
ion-icon[name="checkmark"].check{
    display:block;

}
.participantes li{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    height:36px;
    display:flex;
    align-items: center;
    padding: 0 25px;
    position: relative; /**Para ancorar os checks*/
}
.participantes ion-icon{
    font-size:25px;
    padding-right: 10px;
}

/**Tela de Login*/

.login{
    width:100%;
    height:100%;
    position:fixed;
    background-color: #FFFFFF;;
    z-index:6;
    top:0;
    left:0;
    bottom:0;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.login-conteudo,.login-carregando{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.login .logo2{
    width: 130px;
    height: 92px;
    margin: 72px 0;
}

#login-texto{
    width: 261px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    margin: 20px 0;
}
#login-texto::placeholder{
    opacity:1;
    color: #AEAEAE;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;    
}
.botao-login{
    width: 109px;
    height: 45px;
    border-radius: 9px;
    background-color: #E7E7E7;
    border:none;
}
.botao-texto{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #696969;
}
.login-carregando{
    position:fixed;
    top: 250px;
}
.loading{
    max-width: 100px;
    max-height: 100px;
    margin:20px;
}
.login-carregando p{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;    
}
/*Ajustes mobile*/ 
@media only screen and (hover: none) and (pointer: coarse), (max-width:375px) { 
    body,header,footer,main,.login{
        width:100%;
        min-width:375px;
    }
}